<section class="new-job">
    <div style="    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 7px;">
        <h4> Filter Details</h4>
        <!-- <input type="search" [(ngModel)]="nameSearch.title" [ngModelOptions]="{standalone: true}" class="Search-ad form-control" placeholder="Search" /> -->


    </div>

    <div class="row my-2">
        <div class="col-sm-12 col-md-12">

            <div class="card job-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                          
                            <h5 class="card-title">{{searchData?.title}} &nbsp;
                            <span><i class="fa fa-map-marker" aria-hidden="true" style="color:#7eca86"></i>
                            </span> &nbsp;<span>{{searchData?.address}}</span> </h5>
                        </div>

                    </div>
                    <div class="row" style="padding-top: 8px;">
                        <div class="col-md-4">
                            <h5 class="card-text">{{searchData?.desc}} </h5>
                        </div>
                        <div class="col-md-8 time">
                            <div class="row ">
                                <div class="col-md-4" style="border-right:1px solid grey">JOB INTERVIEW DURATION<br>{{searchData?.interview_start_time }} - {{searchData?.interview_end_time }}</div>
                                <div class="col-md-4" style="border-right:1px solid grey">JOB START DATE<br>{{searchData?.job_start | dateFormatPipe}}</div>
                                <div class="col-md-4">JOB END DATE<br>{{searchData?.job_end | dateFormatPipe}}</div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12 mgbt-xs-20">
                            <h3 class="mgbt-xs-15 font-semibold">Interest
                            </h3>

                            <div class="pd-20">

                                <div class="chip-side">

                                    <div class="chip" *ngFor="let social of filterDetail?.interest_details">
                                        {{social?.interest_name}}
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12 mgbt-xs-20">
                                <h3 class="mgbt-xs-15 font-semibold">Language
                                </h3>
    
                                <div class="pd-20">
    
                                    <div class="chip-side">
    
                                        <div class="chip" *ngFor="let social of filterDetail?.langauge_details">
                                            {{social?.language_name}}
                                        </div>
                                    </div>
    
    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12 mgbt-xs-20">
                                    <h3 class="mgbt-xs-15 font-semibold">Hobbies
                                    </h3>
        
                                    <div class="pd-20">
        
                                        <div class="chip-side">
        
                                            <div class="chip" *ngFor="let social of filterDetail?.hobbies_details">
                                                {{social?.hobbie_name}}
                                            </div>
                                        </div>
        
        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-12 mgbt-xs-20">
                                        <h3 class="mgbt-xs-15 font-semibold">Education
                                        </h3>
            
                                        <div class="pd-20">
            
                                            <div class="chip-side">
            
                                                <div class="chip" *ngFor="let social of filterDetail?.education_details">
                                                    {{social?.education_level}}
                                                </div>
                                            </div>
            
            
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>

</section>