<div class="container-fluid">
    <div class="row height-full">
        <div class="col-md-12 div-width">
            <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
                <div class="inside-form px-5">
                    <div class="forgot-wrap">
                        <div class="content-wrap">
                            <div class="content-heading">
                                <div class="content-img2">
                                    <div class="imglog m1">
                                        <img src="assets/img/final.png" alt="logo">
                                    </div>
                                </div>
                                <h2>Change Password</h2>

                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" formControlName="password" minlength="6" placeholder="New Password">
                                <div *ngIf="formService.validate(confirmForm,'password')" class="invalid-feed">
                                    Please enter New Password
                                </div>
                                <div *ngIf="formService.validate(confirmForm,'password')">Password must be at least 6 characters</div>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" minlength="6" formControlName="Cpassword" placeholder="Confirm Password">
                                <div *ngIf="formService.validate(confirmForm,'Cpassword')" class="invalid-feed">
                                    Please enter Confirm Password
                                </div>
                                <div *ngIf="formService.validate(confirmForm,'Cpassword')">Password must be at least 6 characters</div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" [disabled]="confirmForm.invalid" class="btn btn-login">Done </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display2}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog" [ngStyle]="{'display':display2}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog text-center">
            <!-- <div class="modal-header heading-none popup1">
            </div> -->
            <div class="modal-body heading-mes">
                <h4>{{ message }}</h4>
            </div>
            <div class="modal-footer footer-mes popup2 text-center">
                <button type="button" class="btn btn-default" (click)="hidePop()">ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal! -->