<div class="headerbar clearfix">
    <div class="log float-left">
        <span class="toggle">
        <i class="fa fa-bars"></i>
    </span>
    <a href="http://www.adhoc.ng/#/" target="_blank">
        <img src="assets/img/final.png" alt="logo" class="main-logo"></a>
    </div>
    <!-- <div class="right-bar">
        <ul class="list-inline float-right">
            <li class="list-inline-item">
                <i class="fa fa-bell"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-user"></i>
            </li>
        </ul>
    </div> -->
</div>